#tasks {
  padding: 1rem;
  border-radius: 8px;
  max-height: 70vh;
  overflow: auto;
  width: 90%;
  max-width: 50rem;
  background-color: #3a2c54;
  margin: 0 auto 2rem auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2rem;
  gap: 1rem;
}

h2 {
  margin: 0;
  font-size: 0.9rem;
  width: 60%;
  text-wrap: balance;
}

menu {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}

menu button {
  font: inherit;
  cursor: pointer;
  background-color: #9965dd;
  border-radius: 4px;
  border: none;
  padding: 0.35rem 0.8rem;
  font-size: 0.9rem;
}

menu button:hover,
menu button:active {
  background-color: #a565dd;
}

menu select {
  font: inherit;
  background-color: #d0c2e1;
  color: #3a2c54;
  border: 1px solid #ab9ac0;
  border-radius: 4px;
  padding: 0.25rem 0.8rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: 0.9rem;
  cursor: pointer;
  transition: border-color 0.2s, background-color 0.2s;
}

menu select:focus {
  outline: none;
  border-color: #9965dd;
  background-color: #e6def3;
}

ul {
  list-style: none;
  margin: 1rem 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 50vh;
  overflow: auto;
}

@media (min-width: 768px) {
  h2 {
    font-size: 1.25rem;
  }

  menu {
    width: auto;
  }
}
